In [29]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
sc = SparkContext()
spark = SparkSession(sc)

In [16]:
df = spark.read.option('header', True)\
.csv('iris.csv')

In [17]:
df.columns

['ID', 'petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'species']

In [18]:
df.toPandas().head()

  ID petal_length petal_width sepal_length sepal_width      species
0  1          5.1         3.5          1.4         0.2  Iris-setosa
1  2          4.9         3.0          1.4         0.2  Iris-setosa
2  3          4.7         3.2          1.3         0.2  Iris-setosa
3  4          4.6         3.1          1.5         0.2  Iris-setosa
4  5          5.0         3.6          1.4         0.2  Iris-setosa

In [19]:
df.orderBy('petal_length').toPandas().head()

   ID petal_length petal_width sepal_length sepal_width      species
0  14          4.3         3.0          1.1         0.1  Iris-setosa
1   9          4.4         2.9          1.4         0.2  Iris-setosa
2  39          4.4         3.0          1.3         0.2  Iris-setosa
3  43          4.4         3.2          1.3         0.2  Iris-setosa
4  42          4.5         2.3          1.3         0.3  Iris-setosa

In [22]:
df.groupBy('species').count().toPandas()

           species  count
0   Iris-virginica     50
1      Iris-setosa     50
2  Iris-versicolor     50